# 数据预处理

In [41]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [42]:
# 读取数据集

import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

### 处理缺失值

In [43]:
inputs, outputs = data.iloc[:, 0:3], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
inputs

/var/folders/sd/tlw_0t4d4fz3fq7yyb6p36qr0000gp/T/ipykernel_10453/3157814580.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  inputs = inputs.fillna(inputs.mean())

   NumRooms Alley   Price
0       3.0  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       3.0   NaN  140000

In [44]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms   Price  Alley_Pave  Alley_nan
0       3.0  127500           1          0
1       2.0  106000           0          1
2       4.0  178100           0          1
3       3.0  140000           0          1

In [45]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3.0000e+00, 1.2750e+05, 1.0000e+00, 0.0000e+00],
         [2.0000e+00, 1.0600e+05, 0.0000e+00, 1.0000e+00],
         [4.0000e+00, 1.7810e+05, 0.0000e+00, 1.0000e+00],
         [3.0000e+00, 1.4000e+05, 0.0000e+00, 1.0000e+00]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

In [ ]:
X = torch.arange(12, dtype=torch.float32).reshape(3,4)
Y = torch.tensor([[2.0, 1, 4, 3], [1, 2, 3, 4], [4, 3, 2, 1]])
torch.cat((X,Y,) , dim=0), torch.cat((X,Y), dim=1) ,X,Y, X==Y

## 广播机制

In [ ]:
a = torch.arange(3).reshape((3, 1))
b = torch.arange(2).reshape((1, 2))
a, b

In [ ]:
a + b

In [ ]:
a = torch.arange(3).reshape((3, 2))
b = torch.arange(2).reshape((3, 2))
a, b